@import "tailwindcss";
@import "shadcn/tailwind.css";
@import "@kumix/ui/theme";
@import "@fontsource-variable/geist";

/** Theme and custom color styles **/
:root {
  --primary: oklch(0.586 0.253 17.585);
  --sidebar-width-mobile: 18rem;
}

.dark {
  --primary: oklch(0.645 0.246 16.439);
}

/** Custom Font Size **/
@theme {
  --font-sans: "Geist Variable", sans-serif;
}

html,
body,
#root {
  height: 100%;
  overflow: hidden;
}

/** Smooth scroll **/
@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}
