@import "tailwindcss";
@import "@kumix/ui/css";

/** Theme and custom color styles **/
:root {
  --primary: oklch(0.588 0.214 258);
}

.dark {
  --primary: oklch(0.738 0.148 255);
}

/** Custom Font Size **/
@theme {
  --text-2xs: 0.6875rem;
  --text-2sm: 0.8125rem;
  --text-2xs--line-height: calc(0.825 / 0.6875);
  --text-2sm--line-height: calc(1.075 / 0.8125);
}

/** Smooth scroll **/
@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

/** Custom Containers **/
@utility container {
  @apply mx-auto max-w-none px-4 lg:px-5;
  @media (width >= --theme(--breakpoint-xl)) {
    @apply max-w-(--breakpoint-xl);
  }
}

@utility container-fluid {
  @apply mx-auto w-full px-4 lg:px-5;
}
